
.column {
  border: solid black;
  border-radius: 5px;
  /* padding: 50px 1px; */
  text-align: center;
  text-shadow: 3px 5px 5px blue;
  width: 50%;
 
  margin: 0 auto;
  background-color: rgb(115, 221, 221);
}
/* #jugador {
  display: inline-block;
  margin: 0 auto;
  width: 50%;
  border: solid;


} */
#card1 {
 /* background-image: url('./IMAGEN/PAPEL.png'); */
  display: inline-block;
  border: solid black;
  border-radius: 5px;
  padding: 0px 0;
  width: 30%;
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}



#imagen{
  width: 100%;
  height: 30%;
}




#jugador:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#jugador:focus {
  outline: none;
  border: 2px solid #4285f4;
}

#jugador:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#jugador:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

#jugador:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#jugador:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

#jugador:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}