.column {
  border: solid black;
  border-radius: 5px;
  /* padding: 50px 1px; */
  text-align: center;
  text-shadow: 3px 5px 5px blue;
  width: 100%;

  margin: 0 auto;
  background-image: url("./IMAGEN/background.jpg");
  background-size: cover;
}

#card1 {
  background-color: #ff00913b;
  display: inline-block;
  border: solid black;
  border-radius: 5px;
  padding: 0px 0;
  width: 30%;
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

#imagen {
  width: 90%;
  height: 90%;
}
#fixed {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}
#jugador{
  color: aliceblue;
}
#jugador:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#jugador:focus {
  outline: none;
  border: 2px solid #4285f4;
}

/* #button{
  background-color: #4285f4;
} */
/* <!-- HTML !-->
<button class="button-53" role="button">Button 53</button> */

/* CSS */
#button {
  margin: 0 auto;
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#button:focus {
  outline: 0;
}

#button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  #button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
  #fixed {
    width: 250px;
    height: 250px;
  
    border-radius: 50%;
  }
}